.cart {
  padding: 66px 55px 10px 66px;

  .oplata {
    display: flex;
    justify-content: space-between;
    padding: 55px;

    .all__pizza {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 35px;

      button {
        padding: 20px;
        border-radius: 30px;
        color: rgba(128, 128, 128, 0.2);

        border: 1px solid rgba(128, 128, 128, 0.2);
      }
      button:hover {
        color: rgba(128, 128, 128, 0.627);

        border: 1px solid rgba(128, 128, 128, 0.669);
      }

      p {
        display: flex;
        align-items: center;
        gap: 5px;
        h2 {
          font-size: 18px;
        }
      }
    }

    .summa {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 35px;

      button {
        border-radius: 30px;
        background-color: orange;
        border: 1px solid orange;
        padding: 20px;
      }

      button:hover {
        color: white;
      }

      h1 {
        display: flex;
        gap: 5px;
        font-size: 18px;

        p {
          color: orange;
          font-size: 17px;
        }
      }
    }
  }
  .pizza {
    display: flex;
    padding: 25px 0px 25px 0px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    border-bottom: solid 1px rgba(218, 216, 216, 0.5);

    .title {
      align-items: center;
      display: flex;
      gap: 35px;
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: start;
      gap: 5px;

      li {
        font-size: 21px;
      }

      p {
        font-size: 14px;
        color: gray;
      }
    }

    .rubli {
      display: flex;
      align-items: center;
      font-size: 22px;
    }

    ._button {
      display: flex;
      align-items: center;
      gap: 35px;

      p {
        font-size: 25px;
      }

      button {
        color: coral;
        width: 55px;
        height: 55px;
        border: solid 1px coral;
        border-radius: 50%;
        font-size: 25px;
      }

      button:disabled {
        opacity: 0.4;
        border-color: #787878;
        color: #787878;
      }

      button:hover {
        background-color: orange;
        color: white;
      }
    }

    img {
      width: 75px;
    }
  }

  .Header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: solid 1px rgba(218, 216, 216, 0.5);

    .bucket {
      display: flex;
      flex-direction: row;
      align-items: center;

      p {
        font-weight: 600;
        font-size: 25px;
        padding: 10px;
      }

      img {
        width: 45px;
      }
    }
  }
}
