body {
	height: 100vh;
	background-color: #92f195;
}

button {
	cursor: pointer;
}

.App {
	width: 70vw;
	margin: 10px auto;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #fff;

	.Header {
		padding: 25px 25px 0px 25px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.logo {
			display: flex;
			gap: 10px;

			img {
				width: 55px;
			}
		}

		h1 {
			font-size: 24px;
			color: #181818;
			font-weight: 800;
		}

		h2 {
			font-size: 16px;
			color: #7b7b7b;
			font-weight: 400;
		}

		.basket__button {
			display: flex;
			align-items: center;
			flex-direction: row;
			background-color: #fe5f1e;
			padding: 10px;
			gap: 10px;
			border-radius: 30px;
			color: #ffffff;
			font-size: 16px;

			button {
				img {
					width: 22px;
				}

				font-size: 20px;
				display: flex;
				align-items: center;
				gap: 10px;
				padding: 10px;
				color: #ffffff;
				border: none;
			}
		}
	}

	.sidebar {
		padding: 0 35px;
		border-top: 1px solid rgb(243, 243, 243);
		display: flex;
		justify-content: space-between;
		align-items: center;

		gap: 10px;

		margin-top: 20px;

		.select {
			display: flex;
			align-items: center;
			gap: 10px;

			select {
				padding: 6px 0px 6px 9px;
				font-weight: 500;
			}
		}

		.categories {
			display: flex;

			font-family: 700;
			font-size: 16px;
			padding: 19px 16px;

			ul {
				display: flex;
				gap: 25px;

				li {
					font-size: 16px;
					padding: 20px;
					font-weight: 700;
				}
				li:hover {
					border-radius: 30px;
					padding: 20px;
					background-color: #cbc7c7;
				}
			}
		}
	}
}
